body {
	background-color: #000;
	color: #FFFFFF;
	position: relative;
	font-size: 12px;
	font-family: verdana;
}

h1 {
	margin: 100px 0 0 0;
	text-align: center;
}

h3 {
	text-align: center;
}

div#search {
	margin: 0 auto;
	width: 500px;
}

div#search input:first-child {
	width: 400px;
}

div#message, div#updates {
	background-color: #191919;
	padding: 1em;
	width: 430px;
	margin: 2em auto;
}

div#updates ul{
	list-style: circle;
}

div#greeting {
	margin: 0 auto;
	width: 300px;
	text-align: center;
	font-size: .8em;
}

a:link { color: #1486b3;}
a:visited { color: #1486b3;}
a:hover { color: #0E5F80;}
a:active { color: #0E5F80;}


/* Navigation */

#nav {padding:0; margin: 1em auto; width: 430px; list-style:none; height:35px; position:relative; z-index:500; font-family: verdana, arial, sans-serif;}
#nav li.top {display:block; float:left; height:35px;}
#nav li a.top_link {display:block; float:left; height:35px; line-height:33px; color:#1486b3; text-decoration:underline; font-size:12px; padding:0 0 0 12px; cursor:pointer;}
#nav li a.top_link span {float:left; display:block; padding:0 24px 0 12px; height:35px;}
#nav li a.top_link span.down {float:left; display:block; padding:0 24px 0 12px; height:35px;}

#nav li:hover a.top_link {color:#fff; background-color: #333;}
#nav li:hover a.top_link span {}
#nav li:hover a.top_link span.down {}

/* Default list styling */

#nav li:hover {position:relative; z-index:200;}

#nav li:hover ul.sub
{left:1px; top:35px; background: #CCC; padding:3px; white-space:nowrap; width:190px; height:auto; z-index:300;}
#nav li:hover ul.sub li
{display:block; height:20px; position:relative; float:left; width:190px; font-weight:normal;}
#nav li:hover ul.sub li a
{display:block; font-size:11px; height:18px; width:188px; line-height:18px; text-indent:5px; color:#000; text-decoration:none;}
#nav li ul.sub li a.fly
{background:#BBB url(/images/nav/arrow.gif) 180px 6px no-repeat;}
#nav li:hover ul.sub li a:hover 
{background:#333; color:#fff; border-color:#fff;}
#nav li:hover ul.sub li a.fly:hover
{background:#555 url(/images/nav/arrow_over.gif) 180px 6px no-repeat; color:#fff;}


#nav li:hover li:hover ul,
#nav li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover li:hover ul
{left:190px; top:-3px; background: #CCC; padding:3px; white-space:nowrap; width:190px; z-index:400; height:auto;}

#nav ul, 
#nav li:hover ul ul,
#nav li:hover li:hover ul ul,
#nav li:hover li:hover li:hover ul ul,
#nav li:hover li:hover li:hover li:hover ul ul
{position:absolute; left:-9999px; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none;}

#nav li:hover li:hover a.fly,
#nav li:hover li:hover li:hover a.fly,
#nav li:hover li:hover li:hover li:hover a.fly,
#nav li:hover li:hover li:hover li:hover li:hover a.fly
{background:#555 url(/images/nav/arrow_over.gif) 180px 6px no-repeat; color:#fff; border-color:#fff;} 

#nav li:hover li:hover li a.fly,
#nav li:hover li:hover li:hover li a.fly,
#nav li:hover li:hover li:hover li:hover li a.fly
{background:#BBB url(/images/nav/arrow.gif) 180px 6px no-repeat; color:#000;}

/* CSS 3.0 */

div {
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
}
